body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e9fbe3;
}
.wrap {
    position: relative;
}
#ty_wrap {
    background-color: #eafbe3;
}
#ty_wrap #content {
    position: absolute;
    top: -8px;
    left: 50%;
    color: black;
    width: 1250px;
    height: 783px;
    margin-left: -625px;
}
#ty_wrap #section1 {
    background-image: url(../images/ty_01.jpg);
}
#ty_wrap #section2 {
    background-image: url(../images/ty_02.jpg);
}
#ty_wrap #section3 {
    background-image: url(../images/ty_03.jpg);
}
#ty_wrap #section4 {
    background-image: url(../images/ty_04.jpg);
}
#ty_wrap #section5 {
    background-image: url(../images/ty_05.jpg);
}
#ty_wrap #section6 {
    background-image: url(../images/ty_06.jpg);
}
.section {
    width: 100%;
    height: 200px;
    background-position: center top;
    background-repeat: no-repeat;
}
#thank_you_block {
    position: absolute;
    top: 260px;
    left: 319px;
    width: 600px;
    text-align: center;
}
#upsell_block_1 {
    position: absolute;
    top: 246px;
    left: 319px;
    width: 600px;
    text-align: center;
    cursor: pointer; 
    cursor: hand; 
}
#upsell_block {
    position: absolute;
    top: 365px;
    left: 327px;
    width: 600px;
    height: 360px;
    background-image: url(../images/upsell_bg-3.png);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
#upsell_block2 {
    position: absolute;
    top: 445px;
    left: 327px;
    width: 600px;
    height: 360px;
    background-image: url(../images/upsell_bg-4.png);
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
#no_thank_you_block {
    position: absolute;
    top: 904px;
    left: 326px;
    width: 600px;
    text-align: center;
}
#step2_bottle {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 187px;
}
p#shippingupsell {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    margin-left: 190px;
    margin-top: 120px;
    color: #1e6c8f;
    width: 400px;
    text-align: center;
    letter-spacing: -.5px;
    text-transform: uppercase;
}
p#shippingty {
    font-weight: bold;
    font-size: 54px;
    position: absolute;
    margin-left: 322px;
    margin-top: 225px;
    color: #1e6c8f;
}
p#shippingty2 {
    font-weight: bold;
    font-size: 54px;
    position: absolute;
    margin-left: 259px;
    margin-top: 201px;
    color: #1e6c8f;
}
#upsell_button {
    position: absolute;
    top: 345px;
    left: -15px;
}
.bold_text_ty {
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
}
.red_text {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    color: red;
}
.nothankyoulink {
    color: #545454;
}

.upsell_button{
    position:absolute;
    top:345px;
    left:-15px;
}